button {
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid brown;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: brown;
  transition: .2s ease-in-out;
  background-color: #FFE4B5;

  &:hover{
    background-color: burlywood;
    cursor: pointer;
}
}

.container {
  color: brown;
  border-radius: 8px;
}
